<div style="margin-top:30px;"></div>
<h4> All designs</h4>
<table class="table table-striped">
	<thead>
		<th>S No.</th>
		<th>Title</th>
		<th>Description</th>
		<th>Views</th>
		<th>Likes</th>
		<th>Image</th>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>My Awesome Design</td>
			<td>My Awesome design description</td>
			<td>10000 views</td>
			<td>5000 likes</td>
			<td><%= image_tag 'card.jpg',
			 height: 250, width: 250%></td>
		</tr>
		<tr>
			<td>2</td>
			<td>My Second awesome design</td>
			<td>My Second best design description</td>
			<td>12300 views</td>
			<td>3000 likes</td>
			<td><%= image_tag 'card1.jpg',
			 height: 250, width: 250%></td>
		</tr>
	</tbody>
</table>