<div style="margin-top:30px;"></div>
<h4> All Orders</h4>
<table class="table table-striped">
	<thead>
		<th>S No.</th>
		<th>Title</th>
		<th>Number</th>
		<th>Image</th>
		<th>Date</th>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>My Awesome Design</td>
			<td>5</td>
			<td><%= image_tag 'card.jpg',
			 height: 100, width: 100%></td>
			 <td>5th January 2015</td>
		</tr>
		<tr>
			<td>2</td>
			<td>My Second awesome design</td>
			<td>200</td>
			<td><%= image_tag 'card1.jpg',
			 height: 100, width: 100%></td>
			 <td>6th January 2015</td>

		</tr>
	</tbody>
</table>