<div style="margin-top:30px;"></div>
<h2> Payments</h4>
<h4 style="font-weight:bold"> Total Amount earned = Rs. 1,20,000</h4>

<h5> Redemption Requests </h5>
<table class="table table-striped">
	<thead>
		<th>S No.</th>
		<th>Amount requested</th>
		<th>Date</th>
		<th>Status</th>
		<th>Date</th>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Rs 30,000</td>
			<td>10th January 2015</td>
			<td>Approved</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Rs. 40,000</td>
			<td>20th January 2015</td>
			<td>Transfered</td>

		</tr>
	</tbody>
</table>