<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h4><%= link_to 'All Categories', admin_categories_path%>
		>>
		Category Details</h4>
		<table class="table table-striped">


			<tr>
				<td><b>Name</b></td>
				<td><%= @cat.name%></td>
			</tr>
            
		</table>
			<div class="row">
				<div class="col-md-4">
					<%= button_to 'Update', edit_admin_category_path(@cat), method: 'get' , class: 'btn btn-primary'%>
				</div>
				<div class="col-md-2">
					<%= link_to 'Delete', admin_category_path(@cat), method: 'delete', data: {confirm: "Are you sure?"} %>
				</div>		
			</div>
			
	</div>
</div>
