<h3>Products </h3>
<% @products.each do |r|  %>
  <strong>
  <%= r.name%>
    
  </strong>
<% end %>

<h4>Discovers</h4>
<% @discovers.each do |r|  %>
  <strong>
  <%= r.name%>
    
  </strong>
<% end %>
