.row
	.col-md-3
		.row
			%strong
				Designer
			%ul{style:'list-style-type:none'}
				-for row in @search.facet(:designer_id).rows
					%li
						-if params[:designer].to_i == row.value
							=link_to designer: nil, color_id: params[:color_id], trim_id: params[:trim_id], dimension_id: params[:dimension_id] do 
								=check_box_tag '','', true
								=row.instance.name

						-else
							=link_to designer: row.value, color_id: params[:color_id], trim_id: params[:trim_id], dimension_id: params[:dimension_id] do 
								=check_box_tag '',''
								=row.instance.name


						(
						=row.count
						)

		.row
			%strong
				Color
			%ul{style:'list-style-type:none'}
				-for row in @search.facet(:color_ids).rows
					
					%li
						-if params[:color_id].to_i == row.value
							=link_to color_id: nil, designer: params[:designer], trim_id: params[:trim_id], dimension_id: params[:dimension_id] do
								=check_box_tag '','', true
								=row.instance.name
						-else
							=link_to color_id: row.value, designer: params[:designer], trim_id: params[:trim_id], dimension_id: params[:dimension_id] do
								=check_box_tag ''
								=row.instance.name
						(
						=row.count
						)
		.row
			%strong
				Trim
			%ul{style:'list-style-type:none'}
				-for row in @search.facet(:trim_ids).rows
					
					%li
						-if params[:trim_id].to_i == row.value
							=link_to trim_id: nil, designer: params[:designer], color_id: params[:color_id], dimension_id: params[:dimension_id] do
								
								=check_box_tag '', '', true
								= row.instance.name
						-else
							=link_to trim_id: row.value, designer: params[:designer], color_id: params[:color_id], dimension_id: params[:dimension_id] do
								=check_box_tag ''
								= row.instance.name

						(
						=row.count
						)	

		.row
			%strong
				Dimension
			%ul{style:'list-style-type:none'}
				-for row in @search.facet(:dimension_ids).rows
					
					%li
						-if params[:dimension_id].to_i == row.value
							=link_to  dimension_id: nil, designer: params[:designer], color_id: params[:color_id], trim_id: params[:trim_id] do
								=check_box_tag '', '', true
								=row.instance.name
						-else
							=link_to  dimension_id: row.value, designer: params[:designer], color_id: params[:color_id], trim_id: params[:trim_id] do
								=check_box_tag ''
								=row.instance.name
						(
						=row.count
						)


			
	.col-md-9
		-if !@suites.empty?
			-@suites.each do |s|
				.row
					.col-md-6
						=s.name
					.col-md-6
						=s.description
		-else
			%p
				No Results found
