<!-- End Google Tag Manager -->



 <div class="col-md-12" style="height:auto; width:1000px;margin-bottom:35px;">     
    <div class="col-md-8" style="height:410px;width:592px;margin-right:8px;font-weight:normal;">
    <h3>Who is a dedicated designer?</h3>
    <p>A dedicated designer is a Graphic design expert who will help you in end-to-end customization of your chosen or new design.</p>

    <h3>What is customization?</h3>
    <p>Your dedicated designer can help you in two types of customization:
        <br/>
        Type 1: Where you choose a design from any our present designs on our website and customize it as per you (like trying color variants, fonts, photo upload etc etc). This service is absolutely free.
        <br/>
        Type2:  Where we design a completely new design for you as per your requirement (like based on your wedding destination, couple’s hobbies, profession, interests etc)
        <br/>
        Note:- This service is paid as per the requirement.
    </p>

    <h3>How do get a dedicated designer?</h3>
    <p>It’s very simple. You can directly call us at +91-9953733764 or simply Fill up this form and our dedicated designer will get back to you in a day.
    </p>

    </div>    
    <div class="col-md-4" style="height:410px;width:392px;margin-left:8px;"> 
    <div class="col-md-4" style="height:360px;width:392px;box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.4);padding:20px;margin-top:20px;"> 
    <p style= "font-weight:normal;margin-left:15px;margin-bottom:20px;">Call +91-9953733764 to talk to your dedicated designer</p>
        <%= render 'spree/leads/new_home' %>
    </div>
    </div>
 </div>
