<table class=" table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @ecats.each do |s| %>
          <tr>
            <td><b><%= s.id %></b></td>
            <td><%= s.name%></td>
            <td><%= s.description %></td>
          </tr>
        <%end%>
      </tbody>
</table>