<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h4>Suite Details</h4>
		<table class="table table-striped">

			<tr>
				<td><b>Name</b></td>
				<td><%= @characteristic.name%></td>
			</tr>

			<tr>
				<td><b>Image</b></td>
				<td><%= image_tag @characteristic.avatar.url(:thumb) %></td>
			</tr>

			<tr>
				<td><b>Is a variant of suite with id</b></td>
				<td><%= @characteristic.suite_id%></td>
			</tr>

		</table>

		<div class="row">
				
				<div class="col-md-2">
					<%= link_to 'Delete', admin_suite_characteristic_path, method: 'delete', data: {confirm: "Are you sure?"} %>
				</div>		
		</div>
			
			
	</div>
</div>
