    <div class="col-md-12" style="margin-bottom:20px;">
        <div class ="col-md-6" style="width:1000px;float:left;margin-top:10px;margin-bottom:10px;">
                <%= link_to image_tag("advicebtn.jpg",:style => 'float:right;'), "/wedding-invitations" %>
        </div>
    </div>
