    
<% if @subcat.present? %>    
<h4>Suites :<%= @subcat.name %></h4>
<% end %>
<div class="row" style="height:auto; width:1000px;">
         
      <div class="col-md-3" style="height:auto; width:238px; margin-right:8px;float:left;">
      <%= render 'spree/solrsearch/filter'%>
      </div>
      <div class="col-md-9"style="height:auto; width:746px; margin-left:8px;float:right;">
              <!--<div class="col-md-12" style="height:140px; width:746px; background:rgba(1,0,0,0.2);margin-bottom:10px;">
              </div>-->
              <div class="col-md-12" style="height:auto; width:746px;">
                <%= render 'spree/suites/sort' %>
                <div class="row">
                  <% if !@scsuite.nil? %>
                    <% @scsuite.each do |p| %>
                       <%= render 'spree/suites/suite', p: p %>
                    <% end %> 
                  <% end %>                
                </div>
              </div>
      </div>

</div>


