<%= form_for(spree_current_user.discoverfollows.build(discover_id: @discover.id))  do |f| %>
	  <div><%= hidden_field_tag :discover_id, discover.id %></div>
	  <%= f.submit "Pin", class: "btn btn-primary",style: "width:100px;height:30px;background:#87c9c2;color:white;" %>
<% end %>