
<h1>This is a colors show page </h1>

        <% if @colors %>
	<% @colors.each do |c| %> 
		<span>
			<%= link_to c.name, c %>
		</span>
	<% end %> 

<% end %>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
.text{
	font-size: 30px;
    text-align: center;
    height:50px;
    padding-top: 10px;


}

#contacticon{
    color:#6BBCBF;
    margin-left:30px;
    width:100px;
    height:100px;
    float:left;

}

contacticon: hover{
    color:red;
    margin-left:30px;
    border:1px solid black;

}


</style>


<div class="col-md-10" style="width:1000px;border:1px solid rgba(1,0,0,0.2);background:#EAD4B8;">
     <h2 class="text"> CONTACT US</h2>


            <div class="col-md-10" style="width:500px;height:auto;margin-left:250px;border-bottom:1px solid #000000;">      
            <h4>Live Chat Support Is Available 7 Days a Week.</h4>
                <div style="width:100px;height:100px;float:left;">
                          
                            <i class="fa fa-weixin fa-5x" id="contacticon" ></i>
                            
                </div>

                <div style="width:400px;height:100px;float:left;padding:20px;"> 
                			
                 Monday - Friday:&nbsp;06:00 AM - 09:00 PM IST <br>Saturday - Sunday:&nbsp;08:00 AM - 06:00 PM IST                
                </div> 
            </div>

            <div class="col-md-10" style="width:500px;height:auto;margin-left:250px;border-bottom:1px solid #000000;">
            	<h4>Email Your Question at Your Convenience</h4>
                    <div style="width:100px;height:100px;float:left;">
                          
                            <i class="fa fa-envelope-o fa-5x" id="contacticon" ></i>
                            
                    </div> 

                      
                	<div style="width:400px;height:100px;float:left;padding:20px;">   
                	  We would love to hear from you.
                	  <br>
                	
                	  <a href="http://answers.weddingpaperdivas.com/app/ask">
                	  <span style="text-decoration: underline; font-size: 12px; font-stretch: wider;">EMAIL US</span></a>  
            	      <img src="http://static-cdn.tp-global.net/image/wpd/css/icons/black-caret.png" style="vertical-align: middle; position: relative; middle: -1px;"> <!--caret for link per creative, sg6mar2014; code to move slightly down taken from http://icefront.info/wp/blog/inline-images-down-by-1px/ -->
              	      </span>
                    </div>
            </div>

            <div class="col-md-10" style="width:500px;height:auto;margin-left:250px;">
            	<h4>Phone Support Is Available 7 Days a Week</h4>
                        
                        <div style="width:100px;height:100px;float:left;">
                          
                            <i class="fa fa-phone fa-5x" id="contacticon" ></i>
                            
                        </div>
                        <div style="width:400px;height:100px;float:left;padding:20px;">
                           
                            Monday through Sunday: 8:00 AM - 9:00 PM (IST) <br>
                            
                            (+91) 8962447275
                            
                        </div>

            </div>

</div>
