
<h1>This is a colors show page </h1>

        <% if @colors %>
	<% @colors.each do |c| %> 
		<span>
			<%= link_to c.name, c %>
		</span>
	<% end %> 

<% end %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
.text{
	font-size: 20px;
	margin-top:10px;
}


</style>
</head>

<body>
<div class="col-md-10" style="width:1000px;height:auto;border:1px solid #000000;">
<div style="width:950px;height:30px;margin-left:40px;background:rgba(1,0,0,0.1);"><h2 class="text"> CONTACT US</h2>
</div>

<div class="col-md-10" style="width:900px;height:auto;margin-left:50px;border-bottom:1px solid #000000;">      
<h3>Live Chat Support Is Available 7 Days a Week.</h3>
    <div style="width:100px;height:100px;float:left;">
              
                <i class="fa fa-weixin fa-5x" style="color:rgba(0,250,200,0.2);margin-left:30px;"></i>
                
    </div>

    <div style="width:800px;height:100px;float:left;"> 
    			
     Monday - Friday:&nbsp;06:00 AM - 09:00 PM IST <br>Saturday - Sunday:&nbsp;08:00 AM - 06:00 PM IST                
    </div> 

    

</div>

<div class="col-md-10" style="width:900px;height:auto;margin-left:50px;border-bottom:1px solid #000000;">
	<h3>Email Your Question at Your Convenience</h3>
    	<div style="width:800px;height:100px;float:left;">    	<br>
    	  Contact us for general information or questions on your order.
    	  <br>
    	
    	  <a href="http://answers.weddingpaperdivas.com/app/ask">
    	  <span style="text-decoration: underline; font-size: 12px; font-stretch: wider;">EMAIL US</span></a>  
	<img src="http://static-cdn.tp-global.net/image/wpd/css/icons/black-caret.png" style="vertical-align: middle; position: relative; middle: -1px;"> <!--caret for link per creative, sg6mar2014; code to move slightly down taken from http://icefront.info/wp/blog/inline-images-down-by-1px/ -->
  	      </span>
        </div>

        <div style="width:100px;height:100px;float:left;">
              
                <i class="fa fa-envelope-o fa-5x" style="color:rgba(0,250,200,0.2);margin-left:30px;"></i>
                
        </div>


</div>

<div class="col-md-10" style="width:900px;height:auto;margin-left:50px;">
	<h3>Phone Support Is Available 7 Days a Week</h3>
            
            <div style="width:100px;height:100px;float:left;">
              
                <i class="fa fa-phone fa-5x" style="color:rgba(0,250,200,0.2);margin-left:30px;"></i>
                
            </div>
            <div style="width:800px;height:100px;float:left;">
                <br>
                Monday through Sunday: 8:00 AM - 9:00 PM (IST) <br>
                
                (+91) 8962447275
                
            </div>

</div>

	
</div>


</body>
</html>
