<style type="text/css">
.qty-control{
	width:200px;
	height:25px;
	border-radius:1px;
	border:1px solid rgba(1,0,0,0.3);
	margin-bottom: 15px;
    font-size: 10px;
    color: rgba(1,0,0,0.5);
}
</style>

<div class="row">
    <div class="col-md-6">
        <%= hidden_field_tag "variant_id[]", prd.master.id%>
        <%= prd.name if prd.is_not_sample?%>
    </div>
    <div class="col-md-5">
        <% if prd.is_not_sample? %>
            <% if prd.price > 0 and prd.master.volume_prices.present? %>
                <%= select_tag "quantity[]", options_for_select(prd.master.volume_prices.collect{|prc|[
                        vlm_prc_str(prc), to_rng(prc.range).last
                        ]}),prompt: "Select a quantity", class: 'qty-control', 'data-chk'=> prd.id
                %>
            <% end%>        
        <%end %>
    </div>
</div>

<script type="text/javascript">
    $("select[data-chk='<%=prd.id %>']").change(function(){
        var total = 0;
        $("select option:selected").each(function(){
            var txt = $(this).text();
            var qty = $(this).val();

            var arr = txt.split('---Rs. ')
            var prc = arr[1];
            if(arr[1] != null){
                var prc = arr[1];
                if(qty != null){
                    total = total + parseInt(prc)*qty;    
                }
            }
            else{
                var prc = 0;
            }

        });
        $("#total-price").html(total);        
    });
</script>
<%#= number_field_tag :quantity, 1, :class => 'title form-control',:id =>'menubar', :min => 1 %>
<%#= number_field_tag :quantity, 1, :class => 'title form-control',:id =>'menubar', :min => 1 %>
