<div class="row">
	<div class="col-md-6">
		<%= hidden_field_tag "variant_id[]", prd.master.id%>
		<%= prd.name %>
		<%= prd.master.volume_prices.last %>
	</div>
	<div class="col-md-6">
		<% if prd.price > 0 and prd.master.volume_prices.present? %>
			<%= select_tag :quantity, options_for_select(prd.master.volume_prices.collect{|prc|[prc.range, prc.range.first]}), min: 1, class: 'form-control'
			%>
		<% end%>		
	</div>
</div>
<%#= number_field_tag :quantity, 1, :class => 'title form-control',:id =>'menubar', :min => 1 %>
