<% if spree_current_user %>
	<div id="wishlist-form">
		<%= form_for Spree::WishedProduct.new do |f| %>
			<%= f.hidden_field :suite_id, value: @suite.id %>
			<button type="submit" class='btn btn-default'>
		    <%= Spree.t(:add_to_wishlist) %>
			</button>
		<% end %>
	</div>
<% end %>