<div col-md-12 style="width:1000px;margin-bottom:200px;">
<h3 style="text-align:center;">Perfect! We are ready to start the Customization Process and will guide you through out the process.</h3>



 <div class="col-md-12" style="height:auto; width:1000px;margin-bottom:35px;margin-top:30px;">     
    <div class="col-md-8" style="height:350px;width:592px;margin-right:8px;font-weight:normal;font-size:14px;">

    <p style="margin-top:12px;">Step1:  Fill up the form and our Dedicated Designer 
		will contact within a day who will help you
		 in end-to-end customization of your card
    </p>
    <br/>

    <p>Step2: Once the customization is done, we will send you a proof copy of the final customized card for your approval.    
    </p>
    <br/>

    <p>Step3: Once you approve you have to pay 30% of the order value as an Advanced Payment via a one click process.    
    </p>
    <br/>

    <p>Step4: Once we receive your Advanced Payment we start bulk printing of your cards, then after quality check we notify you for rest of the Payment.
    </p>
    <br/>

    <p>Step5: Once the rest of the payment is done we will deliver all the cards at your doorstep with utmost care.
    </p>
    <br/>

    </div>    
    <div class="col-md-4" style="height:350px;width:392px;margin-left:8px;"> 
    <div class="col-md-4" style="height:320px;width:392px;box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.4);padding:20px;margin-top:20px;"> 
    <p style= "font-weight:normal;margin-left:15px;margin-bottom:20px;">Call +91-9953733764 to talk to your dedicated designer</p>
        <%= render 'spree/leads/new_suite',s_id: params[:s_id] %>
    </div>
    </div>
 </div>

 <h4 style="text-align:center;">Also we will keep giving you updates on each and every steps to get your feedbacks.</h4>

 <h4 style="text-align:center;" >At the end you get everything sitting at your home.  So enjoy your saved time. ☺</h4>


</div>