



<div col-md-12 style="width:1000px;margin-bottom:200px;">
<h3 style="text-align:center;">YOU ARE ALMOST DONE!. NOW, WE JUST NEED TO KNOW YOUR BASIC DETAILS TO HELP YOU BUY YOUR FAVOURITE CARD.
</h3>



 <div class="col-md-12" style="height:auto; width:1000px;margin-bottom:35px;margin-top:30px;">     
    <div class="col-md-8" style="height:350px;width:592px;margin-right:8px;font-weight:normal;font-size:14px;">

    <p style="margin-top:12px;">Step1: Fill up the form and our Dedicated Designer will contact within a day who will collect details & help you in end-to-end customization of your card
    </p>
    <br/>

    <p>Step2: During customization process our dedicated designer will customize it as per your requirement   
    </p>
    <br/>

    <p>Step3: Once you choose the design you have to pay 10% of the order value to start the customization process. You can opt up to 3 designs and we will send you dummy samples of them(shipping charges applicable)    
    </p>
    <br/>

    <p>Step4: Once the customization is done we will send you proof copy of the final design for approval & you can ask for 3 free revisions to make it perfect
    </p>
    <br/>
    
    <p>Step5: Once you approve the final proof copy, you have to pay the remaining amount and we will print & deliver the cards at your doorstep   
    </p>
    <br/>


    </div>    
    <div class="col-md-4" style="height:400px;width:392px;margin-left:8px;"> 
    <div class="col-md-4" style="height:380px;width:392px;box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.4);padding:20px;margin-top:20px;"> 
    <p style= "font-weight:normal;margin-left:15px;margin-bottom:20px;">Call +91-9953733764 to talk to your dedicated designer</p>
        <%= render 'spree/leads/new_suite',s_id: params[:s_id] %>
    </div>
    </div>
 </div>

 <h4 style="text-align:center;">Also we will keep giving you updates on each and every steps to get your feedbacks.</h4>

 <h4 style="text-align:center;" >At the end you get everything sitting at your home.  So enjoy your saved time. ☺</h4>


</div>