
<h1>This is a subcat->suites show page </h1>
<div class="row" style="height:auto; width:1000px;">
         
      <div class="col-md-3"style="height:100px; width:238px; background:rgba(1,0,0,0.2); margin-right:8px;float:left;">
        navigation
        <%= render 'filters' %>
      </div>
      <div class="col-md-9"style="height:auto; width:746px; margin-left:8px;float:right;">
              <div class="col-md-12" style="height:140px; width:746px; background:rgba(1,0,0,0.2);margin-bottom:10px;">
              </div>
              <div class="col-md-12" style="height:auto; width:746px;">
              <div class="row">
	              <% if !@scsuite.nil? %>
  	              <% @scsuite.each do |p| %>
  	                 <%= render 'suite', p: p %>
  			          <% end %> 
			          <% end %>                
              </div>
              </div>
      </div>

</div>




