
<h1>This is a subcat->suites show page </h1>





<div class="row" style="height:auto; width:1000px;">
         
      <div class="col-md-3"style="height:100px; width:238px; background:rgba(1,0,0,0.2); margin-right:8px;float:left;">
      navigation
      </div>
      
      <div class="col-md-9"style="height:auto; width:746px; margin-left:8px;float:right;">
              <div class="col-md-12" style="height:140px; width:746px; background:rgba(1,0,0,0.2);margin-bottom:10px;">
              </div>


              <div class="col-md-12" style="height:auto; width:746px;">
                <div class="row">
	              <% if !@scsuite.nil? %>
	              <% @scsuite.each do |p| %>
	              <span>
				  <div class="col-md-4" style="height:238px; width:240px; background:rgba(1,0,0,0.2);margin-right:8px;margin-top:10px;" >
				  <%= link_to p.name, p %>
			      <P> It was November. Although it was not yet late, the sky was dark when I turned into Laundress Passage. Father had finished for the day, switched off the shop lights and closed the shutters; but so I would not come home to darkness he had left on the light over the stairs to the flat. Through the glass in the door it cast a foolscap 
			      </P>
			      </div>
                  </span>
			      <% end %> 
			      <% end %>                
                </div>
              </div>
      </div>
</div>


