<style>
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome */
    .test{
     display:inherit;
    }

}
</style>

<div id="main-carousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators-->
	<ol class="carousel-indicators">
		<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#main-carousel" data-slide-to="1" ></li>
	</ol>
	
	<!-- Wrapper for slides-->
	<div class="carousel-inner" >
		
		<!-- First slide-->
		<div class="item active">
			<% b= get_banner('Wedding-lp', 1) %>
			<% if !b.nil? %>
            <a href = "/wedding-invitations">
            <%= image_tag b.avatar.url(:main), alt:'main banner', class:'img-responsive' %>
            </a>	
        	<%end%>	
		</div>
		<!-- Second slide-->
		<div class="item">
			<% b= get_banner('Wedding-lp', 2) %>
			<% if !b.nil? %>
            <a href = "/wedding-invitations">
            <%= image_tag b.avatar.url(:main), alt:'main banner', class:'img-responsive' %>
            </a>
     	    <%end%>	
		</div>
	</div>

	
</div>
