

<style>
   h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 15px; 
   font-size: 25px;
   font-family: 'Old Standard TT', serif;
   font-style: italic; 
   color: #6BBCBF;
   margin-bottom: 50px;
   } 
   h2 span { 
   background:#fff; 
   padding:20px;
   }
   h4 {
   font-size: 23px;
   font-family: 'Old Standard TT', serif;
   font-style: italic; 
   float: right;
   margin-right: 10px;
   margin-left: 10px;
   }
   h5{
   h4 {
   font-size: 17px;
   font-family: 'Old Standard TT', serif;
   font-style: italic; 
   float: right;
   margin-right: 10px;
   }
</style>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TBK7B6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TBK7B6');</script>
<!-- End Google Tag Manager -->


 <h3 style="font-size:30px; height:auto; font-family:Times; text-align:center; margin-top:20px; margin-bottom: 50px; font-style:italic; width:100%; color:#6BBCBF"> You + Me = Us</h3>

<div class="col-md-10 " style="height:auto; width:1000px; margin-bottom:50px;">
   <div class="col-md-6 " style="height:300px; width:600px;text-align:left;float-left">
      <p><span style="font-size:18px; height:auto; font-family:Times; text-align:center; margin-top:2px; margin-bottom: 6px; width:49%;"> In Prindora, we aspire to be a perfect one-stop destination for all the extraordinaire creative artists, designers and manufacturers across boundaries. </br> 
       </span> 
      </p>
      <p><span style="font-size:18px; height:auto; font-family:Times; text-align:center; margin-top:2px; margin-bottom: 6px; width:49%;"> In this tech-savy world we aim to provide a fantastic platform where the artist's creation blends with the consumer's satisfaction of the highest level and thereby making the entire essence of the process truly transcendental. It strives of sourcing the most valuable designs and high-quality products from across the world while providing exceptional service to meet the high expectations of the consumers.
         </span>
      </p>
      <p><span style="font-size:18px; height:auto; font-family:Times; text-align:center; margin-top:2px; margin-bottom: 6px; width:49%;"> Primarily our services would include Wedding invitations & accessories, Birthday/Baby-shower/Bridal-Shower invitation cards and more.
      </p>
      </span> 
   </div>
   <div class="col-md-6" style="height:300px; width:400px; margin-bottom:10px;text-align:left;">
		<% b= get_banner('about-us', 1) %>
		<% if !b.nil? %>
			<%= image_tag b.avatar.url(:original), alt:'about-us', class:'img-responsive', width:400 %>
		<% end%>
   </div>
</div>
<div class="col-md-10" style="height:1000px; width:1000px; margin-bottom:100px; margin-top:10px; text-align: left; border_top:1px solid black; border_bottom:1px solid black;">
   <h2><span> Designs come first</span></h2>
   <p style="margin-bottom:60px;"><span style="font-size:18px; height:auto; font-family:Times; text-align: center; margin-top:10px; width:49%;">  We give utmost priority to design in all aspects of our process. Exceptionally talented and multifarious designers from varied parts of the world bring trendsetting and refreshing designs for our customers to choose from and make it their own. We constantly strive for building a culture where everyone is motivated to provide the best designs and quality to our customers.
      </span> 
   </p>
   <h2><span > Transparency</span></h2>
   <p style="margin-bottom:60px;"><span style="font-size:18px; height:auto; font-family:Times; text-align: center; margin-top:10px; width:49%;"> Transparency is an integral part of our organization and acts as the main guiding principle in all our decisions and interactions. We believe that it would be difficult to serve our customers and stakeholders in the best possible way without maintaining as much transparency as possible. Our entire process is aligned to make the information easily available to all the stakeholders  
      </span> 
   </p>
   <h2><span > Customer Satisfaction </span></h2>
   <p style="margin-bottom:60px;"><span style="font-size:18px; height:auto; font-family:Times; text-align: center; margin-top:10px;  width:49%;"> Customer satisfaction is the goal and motto of our organization.  Happy and content customers are our inspiration to keep working hard and to reach new levels of customer satisfaction. We believe in facilitating the customer make an informed buy, deliver highly qualitative product and provide the best possible service
      </span> 
   </p>
   <h2><span > Sustainability and Adaptability </span></h2>
   <p style="margin-bottom:60px;"><span style="font-size:18px; height:auto; font-family:Times; text-align: center; margin-top:10px;  width:49%;">  We believe that to survive in this constantly changing world, we as an organization should be highly adaptable and flexible to diverse conditions. We always look at changes as challenges and leave no stone unturned to achieve new heights of professionalism. 
      </span> 
   </p>
   <h2><span > Foundation </span></h2>
   <p style="margin-bottom:50px;"><span style="font-size:18px; height:auto; font-family:Times; text-align: center; margin-top:10px;  width:49%;">  The foundation of Prindora has been laid by a bunch of IIT and IIM alumni with the objective to bring a revolution in providing the most efficient and elegant wedding stationary services which would lead to a first-class experience for our customers. 
      </span> 
   </p>
   <p><span style="font-size:20px; height:auto; font-family:Times; text-align: center; margin-top:10px; width:49%; font-style:italic;"> We welcome you to participate in this journey with us
      </span>
   </p>
</div>