<div id="<%= p.id %>" class="card">
		<div class="cardimage" type="button" class="btn" data-toggle="modal" data-target="#myModal">
			
		</div>
		<div class="cardpanel">
			<form method="post" action="edit_product">
				<input type="text" name="id"value="<%= p.id %>" style="visibility:hidden; font-size:2px;">
				<button class="edit">
					<strong>Edit</strong>
				</button>
			</form>
			<div class="cardinfo">
				<center><%= p.name %></center>
			</div>				
			<div class="status">
			</div>
		</div>
	</div>