
    <% @categories = Category.all%>

     <% if @categories %>
	    <% @categories.each do |s| %> 
	     <li class="main-nav-list">
		<span>
			<%= link_to s.name, s %>
		</span>
		</li>
	    <% end %> 
	    <% end %>