
<div class ="col-md-12" style="background:rgba(1,0,0,0.1); width:1000px;height:auto;">
<div class="row">
<h1 style="text-align:right;text-align:center;font-size:25px;
    font-family:gabriola;  position: relative;
    bottom: 5px;">Subscribe our Newsletter

<form>Sign up
<input type="text" id="inputboxsubs" email="email id" value="Enter your email address" onClick="this.value=''";><input type="submit" value="Submit">
</form>

</h1>
<p style="border-bottom:1px solid rgba(1,0,0,0.4);top:10px;"></p>

<div id ="footercol1" class="col-md-3">
<span>
	<ul>
		<li class="footerbottom"><b>INFORMATION</b></li>
	    <li id="About Us" class="footerbottom"><a href="#">About Us</a></li>
        <li id="Customer Service" class="footerbottom"><a href="#">Customer Service</a></li>
        <li id="Privacy Policy" class="footerbottom"><a href="#">Privacy Policy</a></li>
        <li id="Site Map" class="footerbottom"><a href="#">Site Map</a></li>
        <li id="Advanced Search" class="footerbottom"><a href="#">Advanced Search</a></li>
        <li id="Orders and Returns" class="footerbottom"><a href="#">Orders and Returns</a></li>
         <li id="Contact Us" class="footerbottom"><a href="#">Contact Us</a></li>
    </ul>
</span>
</div>
<div id ="footercol1" class="col-md-3" >
<span>
	<ul>
	<li class="footerbottom"><b>WHY BUY FROM US</b></li>
	    <li id="Shipping & Returns" class="footerbottom"><a href="#">Shipping & Returns</a></li>
        <li id="Secure Shopping" class="footerbottom"><a href="#">Secure Shopping</a></li>
        <li id="International Shipping" class="footerbottom"><a href="#">International Shipping</a></li>
        <li id="Affiliates" class="footerbottom"><a href="#">Affiliates</a></li>
        <li id="Group Sales" class="footerbottom"><a href="#">Group Sales</a></li>
        <li id="Blank" class="footerbottom"></li>
        <li id="Blank" class="footerbottom"></li>

       
    </ul>
</span>
</div>
<div id ="footercol1" class="col-md-3">
<span>
    <ul>
    	<li class="footerbottom"><b>MY ACCOUNT</b></li>
	    <li id="Sign In" class="footerbottom"><a href="#">Sign In</a></li>
        <li id="View Cart" class="footerbottom"><a href="#">View Cart</a></li>
        <li id="My Wishlist" class="footerbottom"><a href="#">My Wishlist</a></li>
        <li id="Saved Projects" class="footerbottom"><a href="#">Saved Projects</a></li>
        <li id="Track My Order" class="footerbottom"><a href="#">Track My Order</a></li>
        <li id="Help" class="footerbottom"><a href="#">Help</a></li>
        <li id="Blank" class="footerbottom"></li>
        
    </ul>
</span>
</div>
<div id="footercol4" class="col-md-3" >
<span>
<ul>
	<li class="footerbottom"><b>FOLLOW US ON</b></li>
	<li><img src="spree/frontend/fb1.jpg"></li>

</span>
</div>
</div>
</div>
<div><p style="font-size:10px;font-family:verdana;">
Privacy Policy | Terms of Use | Glossary
<br>©2014 All rights reserved. www.printdora.com - India's Largest Online Card Store </br>

</p></div>


