
  


  <script type="text/javascript">
  $(document).ready(function(){
    $('#navigationbar li').each(function(){
      try{
        var idNavigation = $(this).attr('id');
        var idDiv = idNavigation.toLowerCase();
        var timeoutNavigationFade;

       
        
        $('#'+idNavigation).bind('mouseover',function(){
          clearTimeout(timeoutNavigationFade);
          $('#'+idDiv).fadeIn(700);
        });
        $('#'+idDiv).bind('mouseover',function(){
          clearTimeout(timeoutNavigationFade);
        });
        
        $('#'+idNavigation+", #"+idDiv).bind('mouseout',function(){
          timeoutNavigationFade=setTimeout(function(){$("#"+idDiv).fadeOut(100);}, 100);
        });


      }
      catch(e){
        console.log("ERROR: "+e);
      }
    });
  });
  </script>



   
<div>  
      <ul id="navigationbar" class="nav navbar-nav" >
        <li id="Wedding" class="mainnavatags"><a href="/wedding">WEDDING</a></li>
        <li id="Invitations" class="mainnavatags"><a href="#">PARTY INVITATIONS</a></li>
        <li id="Birthday" class="mainnavatags"><a href="#">BIRTHDAY</a></li>
        <li id="Anniversary" class="mainnavatags"><a href="#">ANNIVERSARY</a></li>
        <li id="Designers" class="mainnavatags2"><a href="/designers">MEET OUR DESIGNERS</a></li>
        <li id="Sources" class="mainnavatags1"><a href="/blog">SOURCES & INSPIRATIONS</a></li>
      </ul>
</div>      
      


                    <div id="wedding" class="navigation-div">
                        
                          <div class="row">
                              <div class="col-md-3" id="navdiv2"><b>ddd</b></div>
                              <div class="col-md-3" id="navdiv2"><b>ddd</b></div>
                              <div class="col-md-3" id="navdiv2"><b>ddd</b></div>
                              <div class="col-md-3" id="navdiv2"><b>ddd</b></div>
                          </div>

                    </div>
                      
                  <div id="invitations" class="navigation-div">
                          
                          <div class="row">
                            <div class="col-md-3" id="navdiv2"><b>ddd</b></div>
                            <div class="col-md-3" id="navdiv2"><b>ddd</b></div>
                            <div class="col-md-3" id="navdiv2"><b>ddd</b></div>
                            <div class="col-md-3" id="navdiv2"><b>ddd</b></div>
                            
                          
                          </div>
                  </div>
                      
                  <div id="birthday" class="navigation-div">
                      <p>hbbjbjnjnknjknknkmnk</p>
                  </div>

                  <div id="anniversary" class="navigation-div">
                  </div>
                      
                  <div id="designers" class="navigation-div">
                  </div>


    
    
  

