<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
<%= form_tag '/search', :method => :get, class: "form-horizontal" do %>
		
		<div style="float:right; ">
			<%= search_field_tag :search, params[:search], class: "form-control"%>
		</div>		
		
	
<% end %>