<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<div id="main-carousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators-->
	<ol class="carousel-indicators">
		<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#main-carousel" data-slide-to="1" ></li>
		<li data-target="#main-carousel" data-slide-to="2" ></li>
		<li data-target="#main-carousel" data-slide-to="3" ></li>		
	</ol>
	
	<!-- Wrapper for slides-->
	<div class="carousel-inner" >
		
		<!-- First slide-->
		<div class="item active">
			<% b= get_banner('Home Page', 1) %>
			<% if !b.nil? %>
			<a href= "/wedding-invitations">
				<%= image_tag b.avatar.url(:main), alt:'main banner', class:'img-responsive', width:1000, height: 500 %>
		    </a>	
			<%end%>	

		</div>
		<!-- Second slide-->
		<div class="item">
			<% b= get_banner('Home Page', 2) %>
			<% if !b.nil? %>
			<a href= "/wedding-invitations">
            <%= image_tag b.avatar.url(:main), alt:'main banner', class:'img-responsive', width:1000, height: 500 %>	
            </a>
     	    <%end%>	
		</div>
		<!-- Third slide-->
		<div class="item">
			<% b= get_banner('Home Page', 3) %>
		    <% if !b.nil? %>
		    <a href= "/wedding-invitations">
            <%= image_tag b.avatar.url(:main), alt:'main banner', class:'img-responsive', width:1000, height: 500 %>
            </a>	
			<%end%>	
		</div>
		<!-- Fourth slide-->
		<div class="item">
			<% b= get_banner('Home Page', 4) %>
		    <% if !b.nil? %>
		    <a href= "/wedding-invitations">
            <%= image_tag b.avatar.url(:main), alt:'main banner', class:'img-responsive', width:1000, height: 500 %>
            </a>	
			<%end%>	
		</div>
	</div>

	
</div>
