<div id="main-carousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators-->
	<ol class="carousel-indicators">
		<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#main-carousel" data-slide-to="1" ></li>
		<li data-target="#main-carousel" data-slide-to="2" ></li>		
	</ol>
	
	<!-- Wrapper for slides-->
	<div class="carousel-inner" role="listbox">
		
		<!-- First slide-->
		<div class="item active">
			<% b= get_banner('Home Page', 1) %>
			<% if !b.nil? %>

			<%= image_tag b.first.picture.url(:main), alt:'main banner', class:'img-responsive' %>	
			<%end%>	
		</div>
		<!-- Second slide-->
		<div class="item">
			<% b= get_banner('Home Page', 2) %>
			<%= image_tag b.first.picture.url(:main), alt:'main banner', class:'img-responsive' %>		
		</div>
		<!-- Third slide-->
		<div class="item">
			<% b= get_banner('Home Page', 3) %>
			<%= image_tag b.first.picture.url(:main), alt:'main banner', class:'img-responsive' %>		
		</div>
	</div>

	<!-- Controls-->
	<a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    	<span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    	<span class="sr-only">Next</span>
    </a>

</div>