<% b= get_banner('Home Page', 6) %>
<% if !b.nil? %>
<a href= "/other-invitations/bridal-shower-invitations">
<%= image_tag b.avatar.url(:main), alt:'third banner', class:'img-responsive' %>
</a>
<% end%>
