

<% @suites.each do |s| %>
	Suite name - 
	<%= link_to s.name, s%>
  	Suite description - 
	<%= s.description %>
<% end %>



<div data-hook="homepage_products" class "container">
	<% cache(cache_key_for_products) do %>
		<%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
	<% end %>
</div>