
    <!-- Google Code for Dedicated Designer Lead Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 953967204;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "Nv28CJni4lsQ5MTxxgM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/953967204/?label=Nv28CJni4lsQ5MTxxgM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>


<!-- Facebook Conversion Code for Dedicated_Designer_Leads -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6021903323538', {'value':'0.00','currency':'INR'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6021903323538&amp;cd[value]=0.00&amp;cd[currency]=INR&amp;noscript=1" /></noscript>

              <div class="col-md-12" style="height:600px;width:1000px;">
                  <div class="col-md-12" style="height:300px; width:1000px; padding:50px;text-align:center;font-weight:normal;margin-top:150px;">

                    <p><span style="font-size:22px; height:auto;text-align:center; font-style:italic;font-family:Times;">Your dedicated designer will contact you within 2 days
                    </span></p>
                    <p><span style="font-size:22px; height:auto; text-align:center; font-style:italic;font-family:Times; width:49%; color:">Thanks for getting in touch, Happy Prindora to you !!! 
                    </span></p>
                    <a href="http://www.prindora.com"><p><span style="font-size:16px; text-align:center; margin-top:10px; width:49%; color:#6BBCBF"> Go to Home Page <i class="fa fa-arrow-circle-right"></i></span></p></a>
                  </div>
              </div>
